<div class="container center">
    <div id="bla"> {{log}} </div>
<div class="row">
    <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb1 type="checkbox" value="Depression" (change)="logCheckbox(cb1)">Option 1</label>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb2 type="checkbox" value="" (change)="logCheckbox(cb2)">Option 1</label>
        </div>
    </div>
   <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb3 type="checkbox" value="" (change)="logCheckbox(cb3)">Option 1</label>
        </div>
    </div>
   <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb4 type="checkbox" value="" (change)="logCheckbox(cb4)">Option 1</label>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb5 type="checkbox" value="" (change)="logCheckbox(cb5)">Option 1</label>
        </div>
    </div>
</div>
<div class="row">
     <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb6 type="checkbox" value="" (change)="logCheckbox(cb6)">Option 1</label>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb7 type="checkbox" value="" (change)="logCheckbox(cb7)">Option 1</label>
        </div>
    </div>
   <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb8 type="checkbox" value="" (change)="logCheckbox(cb8)">Option 1</label>
        </div>
    </div>
   <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb9 type="checkbox" value="" (change)="logCheckbox(cb9)">Option 1</label>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="checkbox">
             <label><input #cb10 type="checkbox" value="" (change)="logCheckbox(cb10)">Option 1</label>
        </div>
    </div>
</div>
</div>