<div (onVoted)="onVoted($event)">

   <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">
                
                <div class="caption">
                    <h4 class="text-center">BE VERY CAREFUL COMING OFF WELLBUTRIN</h4>
                    <hr>
                    <p>
          I just want to make sure that ppl know that you should be very careful about coming off this med. You can have severe withdrawal symptoms, as I did, just from a small dose. I was only taking 100mg a day for about 6 mos. I foolishly just stopped taking it. (Because I started Strattera and worried about mixing the two.) I started having suicidal and then homocidal feelings. I had flu-like symptoms, migraines, extreme fatigue, muscle aches and God only knows what else Ive been feeling thats attributed to this. I was off it for at least a whole week and a half before I figured out that what I was having were withdrawal symptoms. The scariest part was that I was watching t.v., a detective program about a murder and "suddenly I understood" what made ppl want to kill and how and why they did it. I thought I was losing my mind for sure. Very scary. (Last week, I was on the computer one night looking at sites that told you how to kill yourself!) BE VERY CAREFUL ABOUT STOPPING THIS MEDICATION!

                    </p>
                </div>
            </div>
        </div>
       
<!-- End container -->
</div>