<div class="row">
  <ul class="list-group">
    <li *ngFor="let item of [0,1,2]" class="list-group-item">
      <div class="">
        <div class="col-lg-5">
          <graphics [number]=item></graphics>
        </div>
      </div>
    </li>
  </ul>
</div>

