<div class="container top-distance">
   
	<div class="row">
        <div class="search">
             <div class="col-lg-3">
            </div>
            <div class="col-lg-5">
                <input type="text" #drugname class="form-control input-sm" maxlength="64" placeholder="Search" />
            </div>
            <div class="col-lg-1">
                <button type="submit" routerLink="/app/result" routerLinkActive="active" (click)="getData(drugname)" class="btn btn-primary btn-sm">Search</button>
            </div>
	</div>
    {{data}}
    </div>
<div class="row"><hr size="10" class="separator"> </div>
<div class="row separator">
    <div class="container center">
    <div class="row">
        <div class="col-lg-2">
            <div class="checkbox">
                <label><input #cb1 name="Depression" type="checkbox" value="Depression" (change)="getData(cb1)">Depression</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="checkbox">
                <label><input name="Headache" #cb2 type="checkbox" value="Headache" (change)="getData(cb2)">Headache</label>
            </div>
        </div>
    <div class="col-lg-2">
            <div class="checkbox">
                <label><input #cb3 name="Infection" type="checkbox" value="Infection" (change)="getData(cb3)">Infection</label>
            </div>
        </div>
    <div class="col-lg-2">
            <div class="checkbox">
                <label><input #cb4 name="Insomnia" type="checkbox" value="Insomnia" (change)="getData(cb4)">Insomnia</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="checkbox">
                <label><input #cb5 name="Tiredness" type="checkbox" value="Tiredness" (change)="getData(cb5)">Tiredness</label>
            </div>
        </div>
    </div>
    
    <div class="row"><hr class="separator">
         <div class="row">
             <router-outlet></router-outlet>
        </div>
     </div>
    
</div>